body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u2 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:74px;
  top:126px;
  width:161px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:26px;
  top:190px;
  width:269px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:26px;
  top:225px;
  width:269px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:30px;
  top:70px;
  width:26px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:66px;
  top:73px;
  width:200px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u12 {
  position:absolute;
  left:280px;
  top:189px;
  width:41px;
  height:16px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:280px;
  top:225px;
  width:40px;
  height:16px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:70px;
  top:5px;
  width:180px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:23px;
  width:321px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  height:22px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u20 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
