body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1206px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:533px;
  width:319px;
  height:137px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:137px;
}
#u1 {
  position:absolute;
  left:2px;
  top:60px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u4 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:23px;
  width:321px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u8 {
  position:absolute;
  left:8px;
  top:36px;
  width:97px;
  height:29px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:8px;
  top:346px;
  width:52px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:10px;
  top:528px;
  width:302px;
  height:137px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:137px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:8px;
  top:90px;
  width:212px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:289px;
  top:2px;
  width:30px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:8px;
  top:503px;
  width:52px;
  height:15px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:115px;
  top:50px;
  width:52px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:8px;
  top:306px;
  width:187px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:30px;
  top:474px;
  width:52px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:128px;
  top:474px;
  width:65px;
  height:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:224px;
  top:474px;
  width:65px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:8px;
  top:258px;
  width:304px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:30px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:8px;
  top:371px;
  width:27px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:8px;
  top:455px;
  width:27px;
  height:15px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:30px;
  top:392px;
  width:73px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:128px;
  top:392px;
  width:52px;
  height:15px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:224px;
  top:392px;
  width:52px;
  height:15px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:30px;
  top:424px;
  width:52px;
  height:15px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:128px;
  top:424px;
  width:65px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:224px;
  top:424px;
  width:52px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:30px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:8px;
  top:240px;
  width:304px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:287px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:304px;
  height:1px;
}
#u49 {
  position:absolute;
  left:8px;
  top:290px;
  width:304px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:287px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:304px;
  height:1px;
}
#u50 {
  position:absolute;
  left:8px;
  top:333px;
  width:304px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:287px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:304px;
  height:1px;
}
#u51 {
  position:absolute;
  left:8px;
  top:492px;
  width:304px;
  height:10px;
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:287px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:5px;
  width:304px;
  height:1px;
}
#u52 {
  position:absolute;
  left:8px;
  top:111px;
  width:300px;
  height:115px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:115px;
}
#u53 {
  position:absolute;
  left:0px;
  top:718px;
  width:1200px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u53_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:1214px;
  height:20px;
}
#u54 {
  position:absolute;
  left:550px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:10px;
  top:738px;
  width:320px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:800px;
  top:738px;
  width:320px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:9px;
  top:778px;
  width:120px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
