body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u2 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:4px;
  width:180px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:22px;
  width:321px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u8 {
  position:absolute;
  left:15px;
  top:76px;
  width:52px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:0px;
  top:98px;
  width:321px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:57px;
  width:321px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u12 {
  position:absolute;
  left:15px;
  top:37px;
  width:65px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:293px;
  top:34px;
  width:22px;
  height:22px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:293px;
  top:72px;
  width:22px;
  height:22px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:26px;
  width:321px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:0px;
  top:64px;
  width:321px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
