body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u2 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:4px;
  width:180px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:23px;
  width:321px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:29px;
  width:321px;
  height:62px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:62px;
}
#u9 {
  position:absolute;
  left:2px;
  top:23px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:8px;
  top:35px;
  width:50px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:68px;
  top:35px;
  width:186px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:68px;
  top:64px;
  width:81px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:290px;
  top:49px;
  width:22px;
  height:22px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:89px;
  width:321px;
  height:62px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:62px;
}
#u19 {
  position:absolute;
  left:2px;
  top:23px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:8px;
  top:95px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:68px;
  top:95px;
  width:186px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:68px;
  top:124px;
  width:81px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:290px;
  top:109px;
  width:22px;
  height:22px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u27 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:150px;
  width:321px;
  height:62px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:62px;
}
#u29 {
  position:absolute;
  left:2px;
  top:23px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:8px;
  top:156px;
  width:50px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:68px;
  top:156px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:68px;
  top:185px;
  width:81px;
  height:15px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:290px;
  top:170px;
  width:22px;
  height:22px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u37 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:210px;
  width:321px;
  height:62px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:62px;
}
#u39 {
  position:absolute;
  left:2px;
  top:23px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:8px;
  top:216px;
  width:50px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:68px;
  top:216px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:68px;
  top:245px;
  width:81px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:290px;
  top:230px;
  width:22px;
  height:22px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u47 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:271px;
  width:321px;
  height:62px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:62px;
}
#u49 {
  position:absolute;
  left:2px;
  top:23px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:8px;
  top:277px;
  width:50px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:68px;
  top:277px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:68px;
  top:306px;
  width:81px;
  height:15px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:290px;
  top:291px;
  width:22px;
  height:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:331px;
  width:321px;
  height:62px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:62px;
}
#u59 {
  position:absolute;
  left:2px;
  top:23px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:8px;
  top:337px;
  width:50px;
  height:50px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u61 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:68px;
  top:337px;
  width:171px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:68px;
  top:366px;
  width:81px;
  height:15px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:290px;
  top:351px;
  width:22px;
  height:22px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u67 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:392px;
  width:321px;
  height:62px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:62px;
}
#u69 {
  position:absolute;
  left:2px;
  top:23px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:8px;
  top:398px;
  width:50px;
  height:50px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u71 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:68px;
  top:398px;
  width:177px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:68px;
  top:427px;
  width:81px;
  height:15px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:290px;
  top:412px;
  width:22px;
  height:22px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u77 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:452px;
  width:321px;
  height:62px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:62px;
}
#u79 {
  position:absolute;
  left:2px;
  top:23px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:8px;
  top:458px;
  width:50px;
  height:50px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:68px;
  top:458px;
  width:129px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:68px;
  top:487px;
  width:81px;
  height:15px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:290px;
  top:472px;
  width:22px;
  height:22px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u87 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:95px;
  top:521px;
  width:116px;
  height:15px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:0px;
  top:29px;
  width:321px;
  height:485px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u91 {
  position:absolute;
  left:340px;
  top:4px;
  width:200px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:810px;
  top:4px;
  width:200px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:363px;
  top:38px;
  width:30px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:320px;
  top:45px;
  width:40px;
  height:0px;
}
#u97_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u98 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:432px;
  top:225px;
  width:15px;
  height:17px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u100 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:370px;
  top:225px;
  width:59px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:320px;
  top:233px;
  width:40px;
  height:0px;
}
#u103_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u104 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:704px;
  top:175px;
  width:336px;
  height:111px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:111px;
}
#u106 {
  position:absolute;
  left:2px;
  top:48px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:460px;
  top:230px;
  width:244px;
  height:0px;
}
#u107_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:258px;
  height:20px;
}
#u108 {
  position:absolute;
  left:72px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:715px;
  top:188px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:784px;
  top:188px;
  width:30px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:824px;
  top:188px;
  width:203px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099CC;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:15px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:784px;
  top:216px;
  width:59px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u116 {
  position:absolute;
  left:0px;
  top:-2px;
  width:59px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:784px;
  top:249px;
  width:44px;
  height:15px;
  font-size:14px;
  color:#008000;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:826px;
  top:249px;
  width:87px;
  height:18px;
  font-size:14px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:370px;
  top:493px;
  width:44px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:160px;
  top:500px;
  width:200px;
  height:0px;
}
#u123_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:214px;
  height:20px;
}
#u124 {
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:370px;
  top:256px;
  width:39px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0000FF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:409px;
  top:256px;
  width:103px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:407px;
  top:66px;
  width:203px;
  height:18px;
  font-size:14px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:363px;
  top:66px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
