body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1276px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:710px;
  top:448px;
  width:320px;
  height:62px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:62px;
}
#u1 {
  position:absolute;
  left:2px;
  top:23px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u4 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:4px;
  top:5px;
  width:16px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:263px;
  top:89px;
  width:27px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:110px;
  top:5px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:0px;
  top:31px;
  width:320px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u12 {
  position:absolute;
  left:80px;
  top:91px;
  width:126px;
  height:18px;
  font-family:'Arial Rounded MT Negreta', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:102px;
  top:114px;
  width:30px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:80px;
  top:111px;
  width:20px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:78px;
  top:135px;
  width:145px;
  height:14px;
  font-size:12px;
  color:#5E5E5E;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:14px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:8px;
  top:45px;
  width:20px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:38px;
  top:49px;
  width:59px;
  height:15px;
  font-family:'Adobe Arabic Regular', 'Adobe Arabic';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:71px;
  width:320px;
  height:10px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:10px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-3px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:80px;
  top:171px;
  width:73px;
  height:18px;
  font-family:'Arial Rounded MT Negreta', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:102px;
  top:194px;
  width:30px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:80px;
  top:191px;
  width:20px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:78px;
  top:215px;
  width:145px;
  height:14px;
  font-size:12px;
  color:#5E5E5E;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:0px;
  top:156px;
  width:320px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u35 {
  position:absolute;
  left:80px;
  top:251px;
  width:102px;
  height:18px;
  font-family:'Arial Rounded MT Negreta', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:102px;
  top:274px;
  width:30px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:80px;
  top:271px;
  width:20px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:78px;
  top:295px;
  width:145px;
  height:14px;
  font-size:12px;
  color:#5E5E5E;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:14px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:0px;
  top:236px;
  width:320px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u44 {
  position:absolute;
  left:80px;
  top:332px;
  width:97px;
  height:18px;
  font-family:'Arial Rounded MT Negreta', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:102px;
  top:355px;
  width:30px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:80px;
  top:352px;
  width:20px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:78px;
  top:376px;
  width:145px;
  height:14px;
  font-size:12px;
  color:#5E5E5E;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:14px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:0px;
  top:317px;
  width:320px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:396px;
  width:320px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u54 {
  position:absolute;
  left:290px;
  top:89px;
  width:20px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:290px;
  top:170px;
  width:20px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:81px;
  width:320px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u59 {
  position:absolute;
  left:8px;
  top:91px;
  width:60px;
  height:60px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u60 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:263px;
  top:171px;
  width:27px;
  height:15px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:0px;
  top:161px;
  width:320px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u64 {
  position:absolute;
  left:0px;
  top:241px;
  width:320px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u65 {
  position:absolute;
  left:0px;
  top:321px;
  width:320px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:8px;
  top:171px;
  width:60px;
  height:60px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u67 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:8px;
  top:251px;
  width:60px;
  height:60px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u69 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:8px;
  top:332px;
  width:60px;
  height:60px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u71 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:0px;
  top:37px;
  width:320px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u73 {
  position:absolute;
  left:405px;
  top:92px;
  width:59px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:405px;
  top:126px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:445px;
  top:126px;
  width:203px;
  height:18px;
  font-size:14px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:330px;
  top:100px;
  width:60px;
  height:0px;
}
#u79_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u80 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:330px;
  top:301px;
  width:200px;
  height:100px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u82 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:330px;
  top:420px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:370px;
  top:420px;
  width:906px;
  height:18px;
  font-size:14px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:906px;
  height:18px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:906px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:710px;
  top:463px;
  width:320px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u88 {
  position:absolute;
  left:710px;
  top:490px;
  width:320px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u89 {
  position:absolute;
  left:729px;
  top:475px;
  width:49px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:1005px;
  top:473px;
  width:16px;
  height:16px;
  color:#999999;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u92 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:360px;
  top:458px;
  width:320px;
  height:49px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:49px;
}
#u94 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:383px;
  top:472px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:459px;
  top:472px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:515px;
  top:462px;
  width:10px;
  height:39px;
}
#u99_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u99_end {
  position:absolute;
  left:-5px;
  top:22px;
  width:20px;
  height:18px;
}
#u99_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:39px;
}
#u100 {
  position:absolute;
  left:432px;
  top:462px;
  width:10px;
  height:39px;
}
#u100_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u100_end {
  position:absolute;
  left:-5px;
  top:22px;
  width:20px;
  height:18px;
}
#u100_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:39px;
}
#u101 {
  position:absolute;
  left:596px;
  top:462px;
  width:10px;
  height:39px;
}
#u101_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u101_end {
  position:absolute;
  left:-5px;
  top:22px;
  width:20px;
  height:18px;
}
#u101_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:39px;
}
#u102 {
  position:absolute;
  left:542px;
  top:472px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:621px;
  top:472px;
  width:40px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:658px;
  top:467px;
  width:10px;
  height:10px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u107 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:995px;
  top:476px;
  width:10px;
  height:10px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u109 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
