body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u2 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:4px;
  width:180px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:22px;
  width:321px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u8 {
  position:absolute;
  left:10px;
  top:35px;
  width:20px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:31px;
  width:270px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:82px;
  top:70px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:70px;
  top:105px;
  width:52px;
  height:15px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:200px;
  top:70px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:194px;
  top:105px;
  width:39px;
  height:15px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:264px;
  top:70px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:254px;
  top:105px;
  width:55px;
  height:15px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:22px;
  top:70px;
  width:27px;
  height:25px;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u24 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:22px;
  top:132px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u26 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:10px;
  top:167px;
  width:52px;
  height:15px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:82px;
  top:132px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:76px;
  top:167px;
  width:39px;
  height:15px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:138px;
  top:132px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u34 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:128px;
  top:167px;
  width:55px;
  height:15px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:200px;
  top:132px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:193px;
  top:167px;
  width:39px;
  height:15px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:264px;
  top:132px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:250px;
  top:167px;
  width:55px;
  height:15px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:22px;
  top:196px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:10px;
  top:231px;
  width:52px;
  height:15px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:82px;
  top:196px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:76px;
  top:231px;
  width:39px;
  height:15px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:138px;
  top:196px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:128px;
  top:231px;
  width:55px;
  height:15px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:200px;
  top:196px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:193px;
  top:231px;
  width:39px;
  height:15px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:264px;
  top:196px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:250px;
  top:231px;
  width:55px;
  height:15px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:70px;
  top:64px;
  width:27px;
  height:15px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:193px;
  top:64px;
  width:39px;
  height:15px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:258px;
  top:64px;
  width:39px;
  height:15px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:16px;
  top:125px;
  width:39px;
  height:15px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:139px;
  top:70px;
  width:27px;
  height:25px;
  font-size:10px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u74 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:133px;
  top:105px;
  width:39px;
  height:15px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:132px;
  top:64px;
  width:39px;
  height:15px;
  color:#FFFFFF;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
