body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:500px;
  width:320px;
  height:119px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:119px;
}
#u1 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u4 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:70px;
  top:4px;
  width:180px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:23px;
  width:321px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u10 {
  position:absolute;
  left:125px;
  top:43px;
  width:70px;
  height:70px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:291px;
  top:8px;
  width:19px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:0px;
  top:143px;
  width:321px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:182px;
  width:321px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u16 {
  position:absolute;
  left:15px;
  top:160px;
  width:52px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:148px;
  width:321px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:0px;
  top:221px;
  width:321px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u20 {
  position:absolute;
  left:293px;
  top:196px;
  width:22px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:15px;
  top:199px;
  width:52px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:260px;
  width:321px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u25 {
  position:absolute;
  left:15px;
  top:238px;
  width:39px;
  height:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:0px;
  top:400px;
  width:321px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:3px;
  width:321px;
  height:5px;
}
#u28 {
  position:absolute;
  left:293px;
  top:274px;
  width:22px;
  height:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u29 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:15px;
  top:277px;
  width:52px;
  height:15px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:190px;
  top:160px;
  width:95px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:293px;
  top:156px;
  width:22px;
  height:22px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u35 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:218px;
  top:200px;
  width:65px;
  height:15px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:224px;
  top:238px;
  width:59px;
  height:15px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:15px;
  top:302px;
  width:270px;
  height:91px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:91px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:293px;
  top:451px;
  width:22px;
  height:22px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u43 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:15px;
  top:417px;
  width:103px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:15px;
  top:442px;
  width:40px;
  height:40px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:70px;
  top:442px;
  width:40px;
  height:40px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:130px;
  top:442px;
  width:40px;
  height:40px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u51 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:190px;
  top:442px;
  width:40px;
  height:40px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:253px;
  top:442px;
  width:40px;
  height:40px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:5px;
  width:36px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:15px;
  top:485px;
  width:43px;
  height:13px;
  font-size:10px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:79px;
  top:485px;
  width:22px;
  height:13px;
  font-size:10px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:139px;
  top:485px;
  width:22px;
  height:13px;
  font-size:10px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:199px;
  top:485px;
  width:22px;
  height:13px;
  font-size:10px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:262px;
  top:485px;
  width:22px;
  height:13px;
  font-size:10px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:0px;
  top:494px;
  width:321px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u67 {
  position:absolute;
  left:15px;
  top:512px;
  width:103px;
  height:15px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:15px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:277px;
  top:510px;
  width:33px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:571px;
  width:321px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u72 {
  position:absolute;
  left:0px;
  top:534px;
  width:321px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u73 {
  position:absolute;
  left:15px;
  top:551px;
  width:78px;
  height:15px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:0px;
  top:513px;
  width:320px;
  height:107px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:107px;
}
#u76 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:8px;
  top:532px;
  width:305px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u78 {
  position:absolute;
  left:8px;
  top:574px;
  width:305px;
  height:25px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u79 {
  position:absolute;
  left:608px;
  top:123px;
  width:59px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:608px;
  top:148px;
  width:44px;
  height:15px;
  font-size:14px;
  color:#008000;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:657px;
  top:148px;
  width:102px;
  height:18px;
  font-size:14px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:340px;
  top:19px;
  width:200px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:770px;
  top:19px;
  width:200px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:340px;
  top:52px;
  width:246px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:18px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:0px;
  top:265px;
  width:321px;
  height:135px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u92 {
  position:absolute;
  left:195px;
  top:98px;
  width:405px;
  height:32px;
}
#u92_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:204px;
  height:20px;
}
#u92_seg1 {
  position:absolute;
  left:180px;
  top:-10px;
  width:20px;
  height:52px;
}
#u92_seg2 {
  position:absolute;
  left:180px;
  top:22px;
  width:229px;
  height:20px;
}
#u93 {
  position:absolute;
  left:140px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:400px;
  top:553px;
  width:87px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:330px;
  top:560px;
  width:60px;
  height:0px;
}
#u96_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u97 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:400px;
  top:583px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:449px;
  top:583px;
  width:59px;
  height:15px;
  font-size:14px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:520px;
  top:581px;
  width:70px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:608px;
  top:581px;
  width:150px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:19px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:408px;
  width:321px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u107 {
  position:absolute;
  left:400px;
  top:611px;
  width:320px;
  height:107px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:107px;
}
#u108 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:408px;
  top:630px;
  width:305px;
  height:25px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u110 {
  position:absolute;
  left:408px;
  top:672px;
  width:305px;
  height:25px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u111 {
  position:absolute;
  left:608px;
  top:70px;
  width:102px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:608px;
  top:95px;
  width:44px;
  height:15px;
  font-size:14px;
  color:#008000;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:657px;
  top:95px;
  width:145px;
  height:18px;
  font-size:14px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:300px;
  top:30px;
  width:300px;
  height:50px;
}
#u117_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u117_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:314px;
  height:20px;
}
#u118 {
  position:absolute;
  left:75px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:348px;
  top:238px;
  width:43px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:348px;
  top:263px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:397px;
  top:263px;
  width:67px;
  height:18px;
  font-size:14px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:18px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:320px;
  top:250px;
  width:20px;
  height:0px;
}
#u125_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:34px;
  height:20px;
}
#u126 {
  position:absolute;
  left:-40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:608px;
  top:196px;
  width:87px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:608px;
  top:224px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#0000FF;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:657px;
  top:224px;
  width:188px;
  height:18px;
  font-size:14px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:320px;
  top:170px;
  width:280px;
  height:40px;
}
#u133_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:164px;
  height:20px;
}
#u133_seg1 {
  position:absolute;
  left:140px;
  top:-10px;
  width:20px;
  height:60px;
}
#u133_seg2 {
  position:absolute;
  left:140px;
  top:30px;
  width:150px;
  height:20px;
}
#u133_seg3 {
  position:absolute;
  left:270px;
  top:36px;
  width:20px;
  height:14px;
}
#u134 {
  position:absolute;
  left:100px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
