body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u2 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:340px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u5 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:680px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u8 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:60px;
  top:100px;
  width:200px;
  height:200px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u10 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:400px;
  top:100px;
  width:200px;
  height:200px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u12 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:740px;
  top:100px;
  width:200px;
  height:200px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u14 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:136px;
  top:338px;
  width:49px;
  height:29px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:94px;
  top:411px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:476px;
  top:341px;
  width:49px;
  height:29px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:436px;
  top:411px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:816px;
  top:341px;
  width:49px;
  height:29px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:780px;
  top:411px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1020px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u29 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1080px;
  top:100px;
  width:200px;
  height:200px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u31 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1156px;
  top:344px;
  width:49px;
  height:29px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:1121px;
  top:414px;
  width:134px;
  height:19px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:1138px;
  top:470px;
  width:100px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:112px;
  top:580px;
  width:97px;
  height:29px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:35px;
  top:650px;
  width:251px;
  height:19px;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:477px;
  top:580px;
  width:49px;
  height:29px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:367px;
  top:650px;
  width:283px;
  height:19px;
  font-size:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:801px;
  top:580px;
  width:97px;
  height:29px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:739px;
  top:650px;
  width:219px;
  height:19px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
