body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u2 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:4px;
  width:22px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:23px;
  width:321px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u6 {
  position:absolute;
  left:84px;
  top:36px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:289px;
  top:1px;
  width:30px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:13px;
  top:499px;
  width:74px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:16px;
  top:65px;
  width:284px;
  height:135px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:135px;
}
#u13 {
  position:absolute;
  left:2px;
  top:60px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:16px;
  top:210px;
  width:287px;
  height:140px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:140px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:340px;
  top:4px;
  width:200px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:810px;
  top:4px;
  width:200px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:363px;
  top:38px;
  width:30px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:363px;
  top:63px;
  width:44px;
  height:15px;
  font-size:14px;
  color:#008000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:411px;
  top:63px;
  width:59px;
  height:18px;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:320px;
  top:45px;
  width:40px;
  height:0px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u27 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:432px;
  top:225px;
  width:15px;
  height:17px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u29 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:370px;
  top:225px;
  width:59px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:320px;
  top:233px;
  width:40px;
  height:0px;
}
#u32_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u33 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:704px;
  top:175px;
  width:336px;
  height:111px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:111px;
}
#u35 {
  position:absolute;
  left:2px;
  top:48px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:460px;
  top:230px;
  width:244px;
  height:0px;
}
#u36_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:258px;
  height:20px;
}
#u37 {
  position:absolute;
  left:72px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:715px;
  top:190px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:784px;
  top:190px;
  width:30px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:824px;
  top:190px;
  width:203px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099CC;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:784px;
  top:221px;
  width:59px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:784px;
  top:249px;
  width:44px;
  height:15px;
  font-size:14px;
  color:#008000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:15px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:826px;
  top:249px;
  width:87px;
  height:18px;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:370px;
  top:499px;
  width:44px;
  height:18px;
  font-size:14px;
  text-decoration:underline;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:320px;
  top:506px;
  width:40px;
  height:1px;
}
#u52_seg0 {
  position:absolute;
  left:-4px;
  top:-9px;
  width:54px;
  height:20px;
}
#u53 {
  position:absolute;
  left:-30px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
