body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:321px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:543px;
}
#u2 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:31px;
  top:131px;
  width:273px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:19px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:31px;
  top:195px;
  width:239px;
  height:15px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:15px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:31px;
  top:230px;
  width:239px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:35px;
  top:75px;
  width:33px;
  height:15px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:71px;
  top:78px;
  width:200px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u12 {
  position:absolute;
  left:71px;
  top:78px;
  width:200px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:3px;
  width:200px;
  height:5px;
}
#u13 {
  position:absolute;
  left:270px;
  top:194px;
  width:50px;
  height:16px;
}
#u14 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15 {
  position:absolute;
  left:270px;
  top:229px;
  width:50px;
  height:16px;
}
#u16 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17 {
  position:absolute;
  left:0px;
  top:503px;
  width:320px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:70px;
  top:5px;
  width:180px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:23px;
  width:321px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:304px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:321px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:3px;
  width:22px;
  height:22px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
